[tool.poetry]
name = "geodistpy"
version = "0.1.1"
description = "For fast geodesic calculations"
authors = ["Pawan <pawanjain.432@gmail.com>"]
license = "MIT"
readme = "README.md"
keywords = ["geodesic", "harvesine"]
packages = [{include = "geodistpy"}]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Natural Language :: English",
    "Topic :: Scientific/Engineering :: GIS"
]

[tool.poetry.dependencies]
python = ">=3.8.1,<3.12"
geographiclib = "^2.0"
scipy = "^1.9.2"
numba = "^0.57.1"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
mkdocs-material = "^9.3.1"
mkdocstrings = "^0.23.0"
mkdocstrings-python = "^1.7.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.group.codespell.dependencies]
codespell = "^2.2.0"

[tool.codespell]
skip = '.git,*.pdf,*.svg,*.pdf,*.yaml,*.ipynb,poetry.lock,*.min.js,*.css,package-lock.json,example_data,_dist,examples'
ignore-regex = '.*(Stati Uniti|Tense=Pres).*'
ignore-words-list = 'momento,collison,ned,foor,reworkd,parth,whats,aapply,mysogyny,unsecure,damon,crate'