name: Publish geodistpy to GitHub

on:
  push:
    branches:
      - main
  pull_request:

  workflow_dispatch:

jobs:
  build-n-publish:
    name: Build and publish to github
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"

      - name: Build source and wheel distributions
        run: |
          python -m pip install poetry
          python -m poetry install
          python -m poetry build
      - name: Check Version
        id: check-version
        run: |
              echo version=$(poetry version -s) >> $GITHUB_OUTPUT

      - name: Create GitHub Release
        id: create_release
        uses: ncipollo/release-action@v1

        with:
          tag: v${{ steps.check-version.outputs.version }}
          artifacts: "dist/*"
          token: ${{ secrets.TOKEN }}